
/*ESTILOS DE LA INTRODUCCION*/

.contenido-introduccion {
	background: rgba(0, 0, 0, 0.6);
	width: 90%;
	height: 450px;
	max-width: 1000px;
	border: solid 1px darkgrey;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 1s ease;
	align-items: center;
	overflow-y: hidden;
	padding: 1rem;
	gap: 10px;
}

.mostrar-contenido {
	opacity: 1;
}

.titulo-introduccion {
	background: #000000;
	border: solid 1px darkgrey;
	border-radius: 5px;
	transition: opacity 1s ease;
	display: flex;
	justify-content: center;
	width: 90%;
	padding: 5px;
}

.imagen-introduccion {
	width: 100%;
	border: solid 1px darkgrey;
	border-radius: 5px;
}

.texto-imagen {
	background: #000000;
	width: 90%;
	height: 450px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: solid 1px darkgrey;
	border-radius: 5px;
	padding: 5px;
}

.texto-introduccion {
	color: #ffffff;
	text-align: justify;
}

.button {
	background: rgba(0, 0, 0, 0.6);
	width: 50%;
	height: 50px;
	color: #ffffff;
	font-family: 'War of 1930';
	font-size: 2rem;
	cursor: pointer;
}

.contenido-ocultar {
	opacity: 1;
	transition: opacity 1s ease;
}

.opacar-contenido-introduccion {
	opacity: 0;
}

/*ESTILOS PARA LA ELECCION DE BANDOS*/

.contenedor-bandos {
	background: url('./images/introduccionFondo.jpg');
	background-size: cover;
	background-position-y: 50%;	
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 90%;
	height: 450px;
	border: solid 1px darkgrey;
	border-radius: 5px;
	align-items: center;
	padding: 5px;
	justify-content: center;
}

.opacidad-contenedor {
	opacity: 0;
	transition: opacity 1s ease;
}

.mostrar-opacidad-contenedor {
	opacity: 1;
}

.contenedor-banderas {
	display: flex;
	width: 90%;
	height: 200px;
	align-items: center;
	justify-content: center;
	border: solid 1px darkgrey;
	border-radius: 5px;
	background: #000000;
	gap: 2em;
}

.flag {
	width: 25%;
	border: solid 1px darkgrey;
	border-radius: 5px;
	cursor: pointer;
	transition: filter 0.5s ease-out;
}

.flag:hover {
	filter: brightness(1.9);
}


/*ESTILOS PARA CONFIGURACION DE JUEGO*/

.contenido-bando-nazi {
	width: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.ocultar-contenido-opacado {
	opacity: 0;
	transition: opacity 1s ease;
}

.mostrar-contenido-opacado {
	opacity: 1;
}

.seleccion-barcos-tablero {
	background: #000000;
	width: 90%;
	height: 50%;
	display: flex;
	gap: 15px;
	justify-content: center;
	align-items: center;
	min-height: 500px;
	border: solid 1px darkgrey;
	border-radius: 5px;
}

.seccion-barcos {
	background: skyblue;
	width: 50%;
	height: 90%;
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-template-rows: repeat(3,3fr);
	margin: 1rem;
	grid-gap: 5px;
}

.seccion-tablero {
	background: url('./images/fondoTablero.jpg');
	background-size: cover;
	width: 50%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(11, auto);
	grid-template-columns: repeat(11, 1fr);
	border: solid 1px darkgrey;
	border-radius: 5px;
	max-width: 450px;
	max-height:450px;
	margin: 1rem;
	position: relative;
}

.tarjeta {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	max-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	margin: 3px;
	border-radius: 5px;
}

.titulo-barcos {
	font-family: 'War of 1930';
	background: #000000;
	border: solid 1px darkgrey;
	border-radius: 5px;
	padding: 3px;
	color: #ffffff;
	text-align: center;
	width: 80%;
	font-size: 1rem;
}

.barco {
	width: 100%;
	max-width: 100px;
	cursor: pointer;
	transition: filter 0.5s ease-out;
}

.barco:hover { 
	filter: brightness(1.9);	
}

.casilla-tablero {
	border: solid 1px #000000;
	cursor: pointer;
}