.contenido-principal{
    background: rgba(0, 0, 0, 0.6);
	width: 90%;
	height: 450px;
	max-width: 1000px;
	border: solid 1px darkgrey;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: opacity 1s ease;
	align-items: center;
	overflow-y: hidden;
	padding: 1rem;
	gap: 10px;
}

.mostrar-contenido{
    opacity: 1;
}

.contenidos-barcos-tablero{
	background: rgba(0, 0, 0, 0.6);
    width: 100%;
    display: flex;
    border: solid 1px darkgray;
    border-radius: 5px;
    justify-content: center;
}

.titulo-jugador{
	color: #ffffff;
	width: 100%;
	padding: 3px;
	border-radius: 5px;
	border: solid 1px dark;
}

.seccion-tablero {
	background: url('./images/fondoTablero.jpg');
	background-size: cover;
	width: 50%;
	height: 100%;
	display: grid;
	grid-template-rows: repeat(11, auto);
	grid-template-columns: repeat(11, 1fr);
	border: solid 1px darkgrey;
	border-radius: 5px;
	max-width: 450px;
	max-height:450px;
	margin: 1rem;
	position: relative;
}


.tarjeta {
	background: rgba(0, 0, 0, 0.6);
	height: 100%;
	max-height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 5px;
	margin: 3px;
	border-radius: 5px;
}

.barco {
	width: 100%;
	max-width: 100px;
	cursor: pointer;
	transition: filter 0.5s ease-out;
}

.barco:hover { 
	filter: brightness(1.9);	
}

.casilla-tablero {
	border: solid 1px #000000;
	cursor: pointer;
}